%h2 Past downtimes
%br
- @old_downtimes.each do |downtime|
  %div{:class => "modal hide", :id => "downtime_modal_#{downtime.id}"}
    %div.modal-header
      %h3== Downtime: #{downtime.name}
    %div.modal-body
      %table.table.table-striped.table-bordered
        %tbody
          %tr
            %td Name
            %td= downtime.name
          %tr
            %td Description
            %td= downtime.description
          %tr
            %td Start time
            - if Time.at(downtime.start_time) > Time.now
              %td== #{downtime.start_time} -- in about #{distance_of_time_in_words(Time.now, downtime.start_time)}
            - else
              %td== #{downtime.start_time} -- #{time_ago_in_words(downtime.start_time)} ago
          %tr
            %td Stop time
            - if Time.at(downtime.stop_time) > Time.now
              %td== #{downtime.stop_time} -- in about #{distance_of_time_in_words(Time.now, downtime.stop_time)}
            - else
              %td== #{downtime.stop_time} -- #{time_ago_in_words(downtime.stop_time)} ago
          %tr
            %td User
            %td= downtime.user.email
          %tr
            %td Processed
            %td= downtime.processed?
          %tr
            %td Completed
            %td= downtime.completed?
          %tr
            %td Created At
            %td= downtime.created_at
          %tr
            %td Updated at
            %td= downtime.updated_at
      %br
      %h3 Clients (#{downtime.downtime_clients.count})
      %table.table.table-striped.table-bordered
        %thead
          %th Name
          %th Address
          %th ENV
        %tbody
          - downtime.downtime_clients.each do |dclient|
            %tr
              - if @clients_hash[dclient.name].nil?
                %td= dclient.name
                %td Unknown
                %td Unknown
              - else
                %td= dclient.name
                %td= @clients_hash[dclient.name][:address]
                %td= @clients_hash[dclient.name][:environment]
      - unless downtime.downtime_checks.empty?
        %h3 Checks (#{downtime.downtime_checks.count})
        %table.table.table-striped.table-bordered
          %tbody
            - downtime.downtime_checks.each do |check|
              %tr
                %td= check.name
    %div.modal-footer
      %p Destroy
      %p Mark as completed

%table.table.table-striped.table-bordered
  %thead
    %th Name
    %th Description
    %th Start Time
    %th Stop Time
    %th User
    %th Processed?
    %th Completed?
    %th Clients
    %th Checks
    %th Created At
    %th
  %tbody
    - @old_downtimes.each do |adowntime|
      %tr{:rel => "#downtime_modal_#{adowntime.id}"}
        %td.moreinfo= adowntime.name
        %td.moreinfo= adowntime.description
        %td.moreinfo= adowntime.start_time
        %td.moreinfo= adowntime.stop_time
        %td.moreinfo= adowntime.user.email
        %td.moreinfo= adowntime.processed
        %td.moreinfo= adowntime.completed
        %td.moreinfo= adowntime.downtime_clients.count
        %td.moreinfo= adowntime.downtime_checks.count
        %td.moreinfo= time_ago_in_words(adowntime.created_at) + " ago"
        %td.moreinfo
          %i.icon-zoom-in
