%br
%h3 New User:
= semantic_form_for @user do |form|
  = form.inputs do
    = form.input :email
    = form.input :password, :as => :password
    = form.input :password_confirmation, :as => :password
    = form.actions
