%td{:rel => "#{event.client}_popup_info", :title => "Check Silence", 'data-content' => silenced_output(event.check_silenced, event.client_silenced)}
  %div.btn-group
    %button.btn.btn-info.dropdown-toggle{'data-toggle' => 'dropdown'}
      %div{:style => "width: 25px"}
        %div{:style => "float: left;"}
          - display_silenced(event, i)
        %div{:style => "float: right;"}
          %span.caret
    %ul.dropdown-menu
      - if event.client_silenced.nil?
        %li
          %a.silence-event{:index_id => "#{i}", :misc => "#{event.client}", :href => "#"} Silence Client
      - else
        %li
          %a.unsilence-submit-event{:index_id => "#{i}", :misc => "#{event.client}", :rel => "/events/#{event.client}/unsilence", :href => "#"} UnSilence Client
      - if event.check_silenced.nil?
        %li
          %a.silence-event{:index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :href => "#"} Silence Check
      - else
        %li
          %a.unsilence-submit-event{:index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :rel => "/events/#{event.client}/#{event.check}/unsilence", :href => "#"} UnSilence Check
      %li
        %a.resolve-event{:misc => "#row-event-#{i}", :index_id => "#{i}", :rel => "/events/#{event.client}/#{event.check}/resolve"} Resolve
      %li
        %a.delete-client{:misc => "#row-event-#{i}", :index_id => "#{i}", :rel => "/clients/#{event.client}"} Delete Client
