%td{:rel => "#{event.client}_popup_info", :title => "Check Silence", 'data-content' => silenced_output(check_silenced, client_silenced)}
  %div.btn-group
    %button.btn.btn-info.dropdown-toggle{:id => "dropdown_toggle_#{i}", 'data-toggle' => 'dropdown'}
      %div{:style => "width: 25px"}
        %div{:style => "float: left;"}
          - display_silenced(event, i, client_silenced, check_silenced)
        %div{:style => "float: right;"}
          %span.caret
    %ul.dropdown-menu
      - if client_silenced.nil?
        %li
          %a.silence-client{:id => "silence_client_#{i}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :href => "#"} Silence Client
      - else
        %li
          %a.unsilence-submit-event{:id => "unsilence_client_#{i}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :rel => "/events/#{event.client}/unsilence", :href => "#"} UnSilence Client
      - if check_silenced.nil?
        %li
          %a.silence-check{:id => "silence_check_#{i}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :href => "#"} Silence Check
      - else
        %li
          %a.unsilence-submit-event{:id => "unsilence_check_#{i}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :rel => "/events/#{event.client}/#{event.check}/unsilence", :href => "#"} UnSilence Check
      %li
        %a.resolve-event{:misc => "#row-event-#{i}", :index_id => "#{i}", :rel => "/events/#{event.client}/#{event.check}/resolve"} Resolve
      %li
        %a.delete-client{:misc => "#row-event-#{i}", :index_id => "#{i}", :key => "#{event.client}"} Delete Client
