%div{:class => "modal large-modal hide", :id => "event-data-modal"}

- @events.each_with_index do |event,i|
  - processed_clients = []
  %div{:class => "modal small-modal hide", :id => "modal_#{event.client}_#{event.check}"}
    %div.modal-header
      %h3== Silence check #{event.check} on client #{event.client}
    %div.modal-body
      %br
      %h3 Enter reason
      %textarea.input-xlarge.silence-input{:id => "text_input_#{event.client}_#{event.check}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :rel => "Silence Check", :rows => "3", :type => "text", :placeholder => "Silence Check Reason"}
      %br
      %h3 Expire at (Optional):
      %div
        %p Date:
        %input.datepicker{:id => "silence_expire_at_date_#{event.client}_#{event.check}"}
      %div
        %p Time:
        %input.timepicker{:id => "silence_expire_at_time_#{event.client}_#{event.check}"}
    %div.modal-footer
      %div.alert.alert-error{:id => "no_input_#{event.client}_#{event.check}", :style => "display: none; float: left;" }
        %p You need to enter a reason over 12 chars before you can submit!
      %a.silence-submit-event.btn.btn-success{:control => "silence_submit_#{event.client}_#{event.check}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}", :rel => "/events/#{event.client}/#{event.check}/silence", :style => "display: none;"} Submit
      %a.silence-submit-event.btn.btn-inverse{:control => "silence_grey_submit_#{event.client}_#{event.check}", :index_id => "#{i}", :misc => "#{event.client}_#{event.check}"} Submit
  - unless processed_clients.include?(event.client)
    - processed_clients << event.client
    %div{:class => "small-modal modal hide", :id => "modal_#{event.client}"}
      %div.modal-header
        %h3== Silence Client #{event.client}
      %div.modal-body
        %h3 Enter reason
        %textarea.input-xlarge.silence-input{:id => "text_input_#{event.client}", :index_id => "#{i}", :misc => "#{event.client}", :rel => "Silence Check", :rows => "3", :type => "text", :placeholder => "Silence Client Reason"}
        %br
        %h3 Expire at (Optional):
        %div
          %p Date:
          %input.datepicker{:id => "silence_expire_at_date_#{event.client}"}
        %div
          %p Time:
          %input.timepicker{:id => "silence_expire_at_time_#{event.client}"}
      %div.modal-footer
        %div.alert.alert-error{:id => "no_input_#{event.client}", :style => "float: left;"}
          %p You need to enter a reason over 12 chars before you can submit!
        %a.silence-submit-event.btn.btn-success{:control => "silence_submit_#{event.client}", :index_id => "#{i}", :style => "display: none;", :misc => "#{event.client}", :rel => "/events/#{event.client}/silence"} Submit
        %a.silence-submit-event.btn.btn-inverse{:control => "silence_grey_submit_#{event.client}", :index_id => "#{i}", :misc => "#{event.client}"} Submit
