= render 'modals'

%table.table.table-striped{:id => "primary_events_table"}
  %thead
    %th Status 
    %th ENV
    %th Client
    %th Check
    %th Output
    %th{:filter => "false"} Action
    %th{:filter => "false"} Occurred
    %th{:filter => "false"} #
    %th{:filter => "false"}
      
  %tbody
    - @events.each_with_index do |event,i|
      %tr.events{:id => "row-event-#{i}", :rel => "#event-#{i}", :type => "#{event.status}"}
        %td.moreinfo
        %td.moreinfo= event.client_attributes['environment']
        %td.moreinfo= format_output(event.client, 12)
        %td.moreinfo= event.check
        %td.moreinfo= time_ago_in_words(Time.at(event.issued)) + " ago"
        %td.moreinfo= event.occurrences
        %td.moreinfo
          %i.icon-zoom-in
