:javascript 
  $(document).ready(function() {
    $(".resolve-submit").click(function(){
      var self = $(this);

      $.ajax({
        type: "POST",
        url: $(this).attr("rel"),
        cache: false,
        data: {},
        success: function(data) {
          $('[rel="silence_' + $(self).attr("control") + '"]').hide();
          $('[rel="unsilence_' + $(self).attr("control") + '"]').hide();
          $('[control="resolve_' + $(self).attr("control") + '"]').hide();
          $('[control="resolved_' + $(self).attr("control") + '"]').show();
          $('#' + $(self).attr("type")).toggle();
        },
        error: function(data) {
          alert("Failed to perform action");
        }
        });

      return false;
    });

    $(".silence-submit").click(function(){
      var self = $(this);

      $.ajax({
        type: "POST",
        url: $(this).attr("rel"),
        cache: false,
        data: {'description': $($(self).attr("description") + "_description").val()},
        success: function(data) {
          $('[rel="silence_' + $(self).attr("control") + '"]').toggle();
          $('[rel="unsilence_' + $(self).attr("control") + '"]').toggle();
          $('[rel="silence_details_' + $(self).attr("control") + '"]').text("Silence reason: " + $($(self).attr("description") + "_description").val());
        },
        error: function(data) {
          alert("Failed to perform action");
        }
        });

      return false;
    });
  });
- criticals = @events.select{|event| event.status.to_i == 2}
- warnings = @events.select{|event| event.status.to_i != 2}

%div{'data-role' =>  'header'}
  %h1 Sensu Events
= render 'layouts/navigation'
%div.ui-content{'data-role' => 'content', :role => "main"}
  %div.content-primary
    %ul{'data-theme' => 'b', 'data-count-theme' => 'a', 'data-role' => 'listview', 'data-inset' => 'true'}
      %li{'data-theme' => 'b'}
        %h2 Critical Events
        %div.ui-li-count= criticals.count
        %ul
          - criticals.each_with_index do |event, i|
            %li{'data-inset' => 'true', :id => "critical_#{i}"}
              %h2== #{event.check} on #{event.client}
              %p== Summary: #{event.output[0..100]}
              %p== ENV: #{event.environment}
              %p== Time ago: #{time_ago_in_words(Time.at(event.issued))}
              %p== Client silenced? #{event.client_silenced.nil?}
              %p== Check silenced? #{event.check_silenced.nil?}
              %ul{'data-theme' => 'a', 'data-count-theme' => 'a', 'data-role' => 'listview', 'data-inset' => 'true'}
                %li
                  %p== Check: #{event.check}
                  %p== Client: #{event.client}
                  %p{:style => 'white-space: normal;'}== Output: #{event.output}
                  %p== ENV: #{event.environment}
                  %p== Occured: #{time_ago_in_words(Time.at(event.issued))} Ago
                  %br
                  %br
                %li
                  - silence_client_style = (event.client_silenced.nil?) ? "" : "display: none;"
                  - unsilence_client_style = (event.client_silenced.nil?) ? "display: none;" : ""
                  %div{:rel => "silence_#{event.client}", :style => silence_client_style}
                    %div.ui-hide-label{'data-role' => 'fieldcontain'}
                      %input{:type => "text", :name => "description", :id => "#{event.client}_#{i}_description", :value => "", :placeholder => "Silence Reason"}
                    %div.ui-submit.ui-btn.ui-shadow{'data-corners' => 'true'}
                      %button.silence-submit{:rel => "/events/#{event.client}/silence", :control => "#{event.client}", :description => "##{event.client}_#{i}", 'data-theme' => 'd'} Silence Client
                  %div{:rel => "unsilence_#{event.client}", :style => unsilence_client_style}
                    %p{:rel => "silence_details_#{event.client}"}== Client Silenced Details: #{event.client_silenced.to_s}
                    %button.silence-submit{:rel => "/events/#{event.client}/unsilence", :control => "#{event.client}"} Unsilence Client
                %br
                %br
                %li
                  - silence_check_style = (event.check_silenced.nil?) ? "" : "display: none;"
                  - unsilence_check_style = (event.check_silenced.nil?) ? "display: none;" : ""
                  %div{:rel => "silence_#{event.client}_#{event.check}", :style => silence_check_style}
                    %div.ui-hide-label{'data-role' => 'fieldcontain'}
                      %input{:type => "text", :name => "description", :id => "#{event.client}_#{event.check}_#{i}_description", :value => "", :placeholder => "Silence Reason"}
                    %div.ui-submit.ui-btn.ui-shadow{'data-corners' => 'true'}
                      %button.silence-submit{:rel => "/events/#{event.client}/#{event.check}/silence", :control => "#{event.client}_#{event.check}", :description => "##{event.client}_#{event.check}_#{i}", 'data-theme' => 'd'} Silence Check
                  %div{:rel => "unsilence_#{event.client}_#{event.check}", :style => unsilence_check_style}
                    %p{:rel => "silence_details_#{event.client}_#{event.check}"}== Check Silenced Details: #{event.check_silenced.to_s}
                    %button.silence-submit{:rel => "/events/#{event.client}/#{event.check}/unsilence", :control => "#{event.client}_#{event.check}"} Unsilence Check
                %li
                  %div{:control => "resolve_#{event.client}_#{event.check}"}
                    %button.resolve-submit{:type => "critical_#{i}", :rel => "/events/#{event.client}/#{event.check}/resolve", :control => "#{event.client}_#{event.check}", 'data-theme' => 'd'} Resolve Event
                  %div{:control => "resolved_#{event.client}_#{event.check}", :style => "display: none;"}
                    %button{'data-theme' => 'b'} Resolved
      %li{'data-theme' => 'c'}
        %h2 Warning Events
        %div.ui-li-count= warnings.count
        %ul
          - warnings.each_with_index do |event, i|
            %li{'data-inset' => 'true', 'data-theme' => 'c', :id => "warning_#{i}"}
              %h2== #{event.check} on #{event.client}
              %p== Summary: #{event.output[0..100]}
              %p== ENV: #{event.environment}
              %p== Time ago: #{time_ago_in_words(Time.at(event.issued))}
              %p== Client silenced? #{event.client_silenced.nil?}
              %p== Check silenced? #{event.check_silenced.nil?}
              %ul{'data-theme' => 'a', 'data-count-theme' => 'a', 'data-role' => 'listview', 'data-inset' => 'true'}
                %li
                  %p== Check: #{event.check}
                  %p== Client: #{event.client}
                  %p{:style => 'white-space: normal;'}== Output: #{event.output}
                  %p== ENV: #{event.environment}
                  %p== Occured: #{time_ago_in_words(Time.at(event.issued))} Ago
                  %br
                  %br
                %li
                  - silence_client_style = (event.client_silenced.nil?) ? "" : "display: none;"
                  - unsilence_client_style = (event.client_silenced.nil?) ? "display: none;" : ""
                  %div{:rel => "silence_#{event.client}", :style => silence_client_style}
                    %div.ui-hide-label{'data-role' => 'fieldcontain'}
                      %input{:type => "text", :name => "description", :id => "#{event.client}_#{i}_description", :value => "", :placeholder => "Silence Reason"}
                    %div.ui-submit.ui-btn.ui-shadow{'data-corners' => 'true'}
                      %button.silence-submit{:rel => "/events/#{event.client}/silence", :control => "#{event.client}", :description => "##{event.client}_#{i}", 'data-theme' => 'd'} Silence Client
                  %div{:rel => "unsilence_#{event.client}", :style => unsilence_client_style}
                    %p{:rel => "silence_details_#{event.client}"}== Client Silenced Details: #{event.client_silenced.to_s}
                    %button.silence-submit{:rel => "/events/#{event.client}/unsilence", :control => "#{event.client}"} Unsilence Client
                %br
                %br
                %li
                  - silence_check_style = (event.check_silenced.nil?) ? "" : "display: none;"
                  - unsilence_check_style = (event.check_silenced.nil?) ? "display: none;" : ""
                  %div{:rel => "silence_#{event.client}_#{event.check}", :style => silence_check_style}
                    %div.ui-hide-label{'data-role' => 'fieldcontain'}
                      %input{:type => "text", :name => "description", :id => "#{event.client}_#{event.check}_#{i}_description", :value => "", :placeholder => "Silence Reason"}
                    %div.ui-submit.ui-btn.ui-shadow{'data-corners' => 'true'}
                      %button.silence-submit{:rel => "/events/#{event.client}/#{event.check}/silence", :control => "#{event.client}_#{event.check}", :description => "##{event.client}_#{event.check}_#{i}", 'data-theme' => 'd'} Silence Check
                  %div{:rel => "unsilence_#{event.client}_#{event.check}", :style => unsilence_check_style}
                    %p{:rel => "silence_details_#{event.client}_#{event.check}"}== Check Silenced Details: #{event.check_silenced.to_s}
                    %button.silence-submit{:rel => "/events/#{event.client}/#{event.check}/unsilence", :control => "#{event.client}_#{event.check}"} Unsilence Check
                %li
                  %div{:control => "resolve_#{event.client}_#{event.check}"}
                    %button.resolve-submit{:type => "warning_#{i}", :rel => "/events/#{event.client}/#{event.check}/resolve", :control => "#{event.client}_#{event.check}", 'data-theme' => 'd'} Resolve Event
                  %div{:control => "resolved_#{event.client}_#{event.check}", :style => "display: none;"}
                    %button{'data-theme' => 'b'} Resolved
  %p Note: In this current iteration, events do NOT auto-update on any interval, please hit refresh if you want the latest events.
