%tr{:id => "#{path}"}
  %td.span5{:title => path}= truncate(path, :length => 50)
  %td.span4= content['description'] || ''
  %td= content['owner'] || ''
  - if content['expire_at']
    %td= distance_of_time_in_words(Time.now, Time.parse(content['expire_at']))
  - else
    %td Never
  %td
    - if content['timestamp'].to_i
      = time_ago_in_words(Time.at(content['timestamp'].to_i)) + " ago"
    - else
      = 'Not set'
  %td{:id => "delete-#{path}"}
    %a.delete-stash{:id => path.gsub(/\//, "-"), :misc => "#stash-#{path}", :rel => "/stashes/delete_stash", :key => "#{path}"} Delete
