%tr{:id => "stash-#{i}"}
  %td.span5= path
  %td.span4= content_item['description'] || ''
  %td= content_item['owner'] || ''
  - if content_item['expire_at']
    %td= distance_of_time_in_words(Time.now, Time.parse(content_item['expire_at']))
  - else
    %td Never
  %td
    - if content_item['timestamp'].to_i
      = time_ago_in_words(Time.at(content_item['timestamp'].to_i)) + " ago"
    - else
      = 'Not set'
  %td{:id => "delete-#{path}"}
    %a.delete-stash{:id => path.gsub(/\//, "-"), :misc => "#stash-#{path}", :rel => "/stashes/delete_stash", :key => "#{path}"} Delete
