%div{:class => "small-modal modal hide", :id => "custom_stash_modal"}
  %div.modal-header
    %h3== Create stash
  %div.modal-body
    %br
    %h3 Enter key
    %input.input-xlarge{:id => "custom_stash_key_input", :placeholder => "Stash key"}
    %p Note: No spaces, etc e.g. "silence/client_name/check_name"
    %br
    %br
    %h3 Description
    %textarea.input-xlarge{:id => "custom_stash_description", :placeholder => "Stash description", :rows => "2"}
    %br
    %br
    %br
    %h3 Expire at (Optional):
    %div
      %div.pull-left
        %p Date:
        %input.datepicker{:id => "custom_stash_date_input"}
      %br   
      %br
      %br
      %br
      %div.pull-left
        %p Time:
        %input.timepicker{:id => "custom_stash_time_input"}
    %div{:style => "height: 160px;"}
    
  %div.modal-footer
    %a.stash-submit-event.btn.btn-info Submit
    %button.btn.btn-success.create-custom-stash-working
      Working...

%br
%br
%div
  %div.btn-group.pull-right
    %button.btn.btn-danger.dropdown-toggle{:id => "delete-all-stashes-button", 'data-toggle' => 'dropdown'}
      Delete All Stashes
      %span.caret
    %ul.dropdown-menu
      %li
        %a{:id => 'delete-all-stashes', :rel => "/stashes/delete_all_stashes", :href => "#"} Yes, Nuke it
  %div.btn-group.pull-right
    %button.btn.btn-info.show-custom-stash-modal{:style => "margin-right: 10px;"}
      Create Stash
%br
%br
      

%h2== Stashes (<span id='stash_count'>#{@stashes.count}</span>)
%table.table.table-striped
  %thead
    %th.span5 Key
    %th.span4 Description
    %th Owner
    %th Expires in
    %th Set
    %th Action
      
  %tbody
    - @stashes.each_with_index do |(k,v), i|
      %tr{:id => "stash-#{i}"}
        %td.span5= k
        %td.span4= v['description'] || ''
        %td= v['owner'] unless v.nil?
        - if v['expire_at']
          %td= distance_of_time_in_words(Time.now, Time.parse(v['expire_at'])) unless v.nil?
        - else
          %td Never
        %td= time_ago_in_words(Time.at(v['timestamp'].to_i)) + " ago" unless v.nil?
        %td
          %a.delete-stash{:key => k, :misc => "#stash-#{i}", :rel => "/stashes/delete_stash"} Delete
