- @logs.each do |log|
  %div{:class => "modal hide", :id => "log_modal_#{log.id}"}
    %div.modal-header
      %h3== Log Attributes for log id: #{log.id}
    %div.modal-body
      %table.table.table-striped.table-bordered
        %tbody
          - log.attributes.each do |k,v|
            %tr
              - if k == "user_id"
                %td User
                %td== #{log.user.email} (ID: #{log.user.id})
              - else
                %td= k
                %td= v

%table.table.table-striped
  %thead
    %th Status
    - if use_environments?
      %th ENV
    %th Client
    %th Check
    %th Type
    %th Action
    %th Output 
    %th Reason
    %th User
    %th Done At
    %th
      
  %tbody
    = will_paginate @logs
    - @logs.each do |log|
      %tr{:rel => "#log_modal_#{log.id}"}
        %td.moreinfo
          - if log.silence_type == "client"
            %span.badge.badge-info Client
          - else
            - if log.status == "2"
              %span.badge.badge-important
                = format_status(log.status)
            - elsif log.status == "1"
              %span.badge.badge-warning
                = format_status(log.status)
            - else
              %span.badge.badge-inverse
                = format_status(log.status)
        - if use_environments?
          %td.moreinfo= log.environment
        %td.moreinfo= format_output(log.client, 12)
        %td.moreinfo= log.check
        %td.moreinfo= log.silence_type
        %td.moreinfo= log.action_type
        %td= format_output(log.output, 40)
        %td.moreinfo= format_output(log.reason, 30)
        %td.moreinfo= log.user.email
        %td.moreinfo= time_ago_in_words(log.created_at)
        %td.moreinfo
          %i.icon-zoom-in
