= link_to "Sensu-Admin", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to("Events", events_path)
    %li
      = link_to("Clients", clients_path)
    %li
      = link_to("Stashes", stashes_path)
    %li
      = link_to("Checks", checks_path)
    %li
      = link_to("Downtimes #{downtime_number()}", downtimes_path)
    %li
      = link_to("Aggregates", aggregates_path)
    %li
      = link_to("Logs", logs_path)
    %li
      = link_to("Stats", stats_path)
    %li
      = link_to("Account", edit_user_path(current_user))
    - if can? :manage, @user
      %li
        = link_to('Users', users_path)
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')

  - else
    %li
      = link_to('Login', new_user_session_path)
