!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
      %title= content_for?(:title) ? yield(:title) : "Sensu Admin"
      %meta{:content => "Sensu-admin is an admin application for viewing, silencing and resolving events from the sensu-api. In addition to exposing many other api related things.", :name => "description"}
      %meta{:content => "Sonian DevOps Josh Pasqualetto <josh.pasqualetto@sonian.net>", :name => "author"}
      %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}
      = stylesheet_link_tag    "mobile", :media => "all"
      = javascript_include_tag "mobile"
      = csrf_meta_tags
      <!-- standard favicon -->
      %link{:rel => "icon", :type => "image/png", :href => "/favicon_64.png"}
      <!-- favicon for iPhone -->
      %link{:rel => "apple-touch-icon", :type => "image/png", :href => "/favicon_57.png"}
      <!-- favicon for Retina iPhone -->
      %link{:rel => "apple-touch-icon", :type => "image/png", :href => "/favicon_114.png", :sizes => "114x114"}
      <!-- favicon for iPad -->
      %link{:rel => "apple-touch-icon", :type => "image/png", :href => "/favicon_72.png", :sizes => "72x72"}
      <!-- favicon for Retina iPad -->
      %link{:rel => "apple-touch-icon", :type => "image/png", :href => "/favicon_144.png", :sizes => "144x144"}
      <!-- multi resolution favicon for IE -->
      %link{:rel => "shortcut icon", :href => "/favicon.ico"}
      = yield(:head)
    %body
      = yield
      %center
        %div
          - if mobile_device?
            %a{:href => "/?mobile=0", "data-ajax" => "false"} Full Site
          - else
            %a{:href => "/?mobile=1", "data-ajax" => "false"} Mobile Site
